<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>Created using data from mapbox, weatherstack and NodeJS</p>
    <img class="portrait" src="/img/robot.png">
</div>

{{>footer}}
</body>
</html>